# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site favicons & manifest icons
# 9. Site navigation

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji

# 3. Gem settings
paginate: 2 # jekyll-paginate > items per page
paginate_path: blog/page:num # jekyll-paginate > blog page
jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
#twitter:
#  username: DavidDarnes # jekyll-seo-tag > Owners twitter username
author: Impex Solution # jekyll-seo-tag > default author
social: # jekyll-seo-tag > social overrides
  name: Impex Solution # jekyll-seo-tag > real name
  links:  # jekyll-seo-tag > social aliases (sameAs)
    - https://www.linkedin.com/in/impex-solution-0b321037/
#markdown: CommonMark # Markdown parse settings, CommonMark performs slightly better an others in build time
highlighter: rouge
error_mode: strict
# commonmark:
  # options: ["SMART", "FOOTNOTES"]
  # extensions: ["strikethrough", "autolink", "table"]

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: Asia/Mumbai # Timezone for blog posts and alike

# 5. Collections
collections:
  posts:
    title: Posts # Needed for Siteleaf
    output: true
    description: "My thoughts and ideas" # The post list page content
    feature_text: |
      Welcome to the blog
    feature_image: "https://picsum.photos/2560/600?image=866"

# 6. Jekyll collections settings
defaults:
  -
    scope:
      path: ""
    values:
      image: "/assets/default-social-image.png" # Default image for sharing
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages

# 7. Site settings
encoding: utf-8 # Make sure the encoding is right
lang: en-US # Set the site language
title: "Impex Solution" # Site name or title, also used in jekyll-seo-tag
logo: "/assets/logos/logo.svg" # Site logo, also used in jekyll-seo-tag
description: "We are India's leading manufacturer and exporter of finished textile products. We offer textiles in different colors, shapes and sizes." # Site description and default description, also used in jekyll-seo-tag
url: "https://markright-products.github.io" # Site url, also used in jekyll-seo-tag
baseurl: ""
# repo: ""

# Contact details
bharat: "Bharat Parekh"
email: "bharat@impexsolution.net"
cell: "+91-9820034262, +91-8779967110"
address: "D-Wing, 405, Neelkanth Business Park, Kirol Road, Near Vidyavihar Station Road, Vidyavihar West, Mumbai - 400086"
gstin: "27AABPP8518M1Z7"

# disqus: "" # Blog post comments, uncomment the option and set the site ID from your Disqus account
google_analytics: 'UA-40929596-1'
google_analytics_anonymize_ip: 'false'
# service_worker: false # Will turn off the service worker if set to false
css_inline: true # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# 8. Site favicons & manifest icons
favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
  16: '/assets/logos/logo@16px.png'
  32: '/assets/logos/logo@32px.png'
  36: '/assets/logos/logo@36px.png'
  48: '/assets/logos/logo@48px.png'
  72: '/assets/logos/logo@72px.png'
  96: '/assets/logos/logo@96px.png'
  120: '/assets/logos/logo@120px.png'
  144: '/assets/logos/logo@144px.png'
  180: '/assets/logos/logo@180px.png'
  192: '/assets/logos/logo@192px.png'
  270: '/assets/logos/logo@270px.png'
  310: '/assets/logos/logo@310px.png'


# 9. Site navigation
navigation_header:  
- title: Home
  url: /
- title: Shop
  url: /shop/
- title: Search
  url: /search/
- title: Contact
  url: /contact/
  
navigation_footer:
- title: Managed by Impex Solution
  url: https://www.impexsolution.in/

social_links: # Appears in sidebar. Set the urls then uncomment and comment out as desired
  #Twitter: https://twitter.com/DavidDarnes
  LinkedIn: https://www.linkedin.com/in/impex-solution-0b321037/
  #GitHub: https://github.com/daviddarnes
  link: https://www.impexsolution.in/
  RSS: /feed.xml

sharing_links: # Appear at the bottom of single blog posts, add as desired. The value can be 'true' or the desired button colour
  Twitter: "#0d94e7"
  facebook: "#3B5998"
  Email: true
